NEXT_PUBLIC_SUPABASE_URL=https://nifopbvizwicjciyiofy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pZm9wYnZpendpY2pjaXlpb2Z5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1MTYwOTcsImV4cCI6MjA3OTA5MjA5N30.ONg4j10eON4S6yr4bOS7z3ZFaD2-UK-WEKulwC7FwLo